/* global + reset */
html, body, form, h1, h2, h3, h4, h5, h6, p, table, tr, td, th {
  margin: 0;
  padding: 0; }

html, body {
  height: 100%; }

body, div, input, textarea, button {
  font-family: "Segoe UI", Segoe, Tahoma, Geneva, sans-serif;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

h1, h2, h3, h4, h5, h6 {
  font-size: 30px;
  font-weight: normal;
  color: #717171; }

h1 {
  color: #db291f; }

a:link, a:visited, a:active {
  text-decoration: none;
  color: #787878; }

textarea:focus, input:focus {
  outline: none; }

body {
  background-color: white;
  color: #787878;
  font-size: 18px; }

p {
  line-height: 22px; }

pre {
  font-size: 12px;
  line-height: 100%; }

.hide {
  visibility: hidden; }

.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0; }

.clearfix {
  display: inline-block; }

html[xmlns] .clearfix {
  display: block; }

* html .clearfix {
  height: 1%; }

/* layout - index */
.index_container {
  width: 540px;
  height: 100%;
  min-height: 450px;
  margin: 0 auto;
  position: relative; }

.index_action {
  padding-top: 50px; }

.index_copy {
  padding: 42px;
  position: relative; }

.index_footer {
  padding: 42px;
  position: absolute;
  left: 0;
  bottom: 0; }

/* layout - vote */
.vote_container {
  width: 800px;
  height: 100%;
  margin: 0 auto;
  position: relative; }

.vote_main {
  width: 380px;
  padding: 0 30px;
  float: left;
  min-height: 490px;
  position: relative; }

.vote_secondary {
  margin-left: 380px;
  width: 380px;
  min-height: 490px;
  position: relative; }

/* button */
.button {
  width: 100%;
  border: none;
  background-color: #eeeeee;
  color: #333333;
  text-align: center;
  position: relative;
  overflow: hidden;
  cursor: pointer; }
  .button .caption {
    white-space: nowrap;
    display: block;
    overflow: hidden;
    text-overflow: ellipsis; }
  .button.selected {
    border-bottom: 1px solid #db291f;
    background-color: #dedede;
    color: black; }

.button.create_group {
  height: 127px;
  border-bottom: 1px solid #db291f;
  background-color: #dedede;
  font-size: 50px; }
  .button.create_group .caption {
    line-height: 127px; }
  .button.create_group .icon {
    background-image: url("fork_plate_knife-light_2.png");
    width: 72px;
    height: 52px;
    position: absolute;
    top: 36px;
    left: 38px; }
  .button.create_group .action {
    background-image: url("arrow_right-light_2.png");
    width: 38px;
    height: 32px;
    position: absolute;
    top: 46px;
    right: 49px; }
  .button.create_group:hover .icon {
    background-position: 0 -53px; }
  .button.create_group:hover .action {
    background-position: 0 -33px; }
  .button.create_group .loader {
    background-image: url("loader-light_2.png");
    width: 32px;
    height: 32px;
    position: absolute;
    top: 46px;
    right: 52px;
    visibility: hidden; }
    .button.create_group .loader.hover {
      background-position: 0 -32px; }
  .button.create_group.loading .loader.idle {
    visibility: visible; }
  .button.create_group.loading:hover .loader.idle {
    visibility: hidden; }
  .button.create_group.loading:hover .loader.hover {
    visibility: visible; }
  .button.create_group.loading .action {
    display: none; }

.button.send_vote {
  height: 42px;
  font-size: 20px;
  text-align: left;
  padding: 6px 0 9px 56px; }
  .button.send_vote .vote_count {
    position: absolute;
    font-weight: bold;
    text-align: center;
    left: 0;
    top: 6px;
    width: 56px; }
  .button.send_vote .caption {
    white-space: nowrap;
    display: block;
    overflow: hidden;
    max-width: 258px; }

.button.select_entity,
.button.cancel_poll {
  height: 42px;
  font-size: 20px;
  text-align: left;
  padding: 6px 30px 9px 12px; }

.button.select_entity .delete,
.button.cancel_poll .delete {
  display: none;
  position: absolute;
  width: 36px;
  height: 42px;
  right: 0;
  top: 0;
  font-weight: bold;
  line-height: 20px;
  padding: 9px;
  text-align: center;
  cursor: pointer; }

.button.add_poll {
  height: 104px;
  padding: 22px;
  border-bottom: 1px solid #db291f;
  background-color: #dedede;
  font-size: 40px; }
  .button.add_poll .icon {
    background-image: url("fork_plate_knife-small-light_2.png");
    width: 54px;
    height: 39px;
    position: absolute;
    top: 33px;
    left: 28px; }
  .button.add_poll .action {
    background-image: url("arrow_right-light_2.png");
    width: 38px;
    height: 32px;
    position: absolute;
    top: 35px;
    right: 37px; }
  .button.add_poll:hover .icon {
    background-position: 0 -39px; }
  .button.add_poll:hover .action {
    background-position: 0 -33px; }

.button:hover {
  background-color: #db291f;
  color: white; }

.button:hover .delete {
  display: block; }

/* text input */
.input {
  border: 1px solid silver;
  width: 100%;
  height: 30px;
  line-height: 20px;
  font-size: 16px;
  color: silver;
  padding: 0 5px; }
  .input.active {
    border-color: #787878;
    color: #787878; }
  .input:focus {
    border-color: #db291f;
    color: black;
    background-color: #eeeeee; }

/* menu of links */
.menu {
  width: 380px;
  padding: 0px 30px;
  position: relative;
  height: 36px;
  text-align: right; }
  .menu .action_link, .menu .action_link a {
    color: #999999; }
  .menu .action_link {
    padding: 3px 16px;
    font-weight: bold;
    cursor: pointer;
    display: inline-block;
    margin-left: 12px; }
    .menu .action_link .icon {
      display: inline-block;
      width: 17px;
      height: 17px;
      margin-right: 3px; }
      .menu .action_link .icon.options {
        background-image: url("gear-light_2.png"); }
      .menu .action_link .icon.share_email {
        background-image: url("envelope-light_2.png"); }
    .menu .action_link:hover, .menu .action_link:hover a {
      color: #666666; }
      .menu .action_link:hover .icon, .menu .action_link:hover a .icon {
        background-position: 0 -18px; }
  .menu .current {
    background-color: #eeeeee;
    border-bottom: 1px solid #db291f; }
    .menu .current .icon {
      background-position: 0 -36px; }
    .menu .current:hover .icon, .menu .current:hover a .icon {
      background-position: 0 -54px; }

.message {
  width: 100%;
  font-size: 30px;
  background-color: #eeeeee;
  padding: 20px;
  margin-top: 30px;
  text-align: center; }

/* countdown timer */
.countdown {
  font-size: 60px;
  color: #dedede;
  background: white;
  position: relative;
  display: inline-block;
  text-align: right;
  width: 100%;
  clear: right; }
  .countdown .readout {
    color: #db291f;
    background: white;
    position: absolute;
    top: 0;
    right: 0; }
  .countdown .note {
    position: absolute;
    width: 0;
    left: 0;
    top: 20px;
    font-size: 18px;
    line-height: 20px; }

.progress {
  width: 100%;
  height: 4px;
  background: #db291f;
  margin-bottom: 8px; }
  .progress .fill {
    width: 0;
    max-width: 100%;
    height: 100%;
    background: #eeeeee; }

/* layout - re-usable components */
.index_copy h1 {
  margin-bottom: 10px; }

.note {
  font-size: 12px;
  color: #787878;
  text-transform: uppercase; }

.entity_list {
  margin-top: 8px; }
  .entity_list .send_vote,
  .entity_list .select_entity {
    margin-top: 1px; }

.future_poll_list {
  margin: 30px 0 0 0; }
  .future_poll_list .cancel_poll {
    margin-top: 1px;
    padding-top: 10px; }
    .future_poll_list .cancel_poll .caption {
      text-transform: uppercase;
      font-size: 14px; }

.user_count.note {
  padding: 6px; }

.loading_mask {
  width: 100%;
  height: 100%;
  background-color: rgba(201, 201, 201, 0.75);
  position: fixed;
  z-index: 1;
  top: 0; }
  .loading_mask .loading_modal {
    background-color: #2b2b2b;
    font-size: 30px;
    color: #c9c9c9;
    width: 100%;
    height: 150px;
    position: fixed;
    top: 33%;
    text-align: center;
    padding: 50px 0; }
    .loading_mask .loading_modal .icon {
      background-image: url("loading-light_2.png");
      width: 50px;
      height: 36px;
      margin-left: 50px;
      display: inline-block;
      vertical-align: bottom; }

.entity_detail {
  max-height: 200px;
  overflow: hidden;
  float: left; }
  .entity_detail.winner {
    max-height: inherit; }
    .entity_detail.winner .icon.directions_link {
      display: inline-block; }
  .entity_detail .name {
    line-height: 100%;
    margin-bottom: 3px; }
  .entity_detail .rating_and_reviews {
    clear: both;
    height: 26px; }
    .entity_detail .rating_and_reviews .rating {
      height: 27px;
      display: inline-block; }
      .entity_detail .rating_and_reviews .rating .star {
        background-image: url("rating_star-light_2.png");
        width: 27px;
        height: 27px;
        display: inline-block;
        float: left; }
    .entity_detail .rating_and_reviews .review_count {
      margin-left: 10px;
      display: inline-block;
      vertical-align: top;
      line-height: 27px;
      padding: 0; }
  .entity_detail .icon.directions_link {
    display: none;
    width: 64px;
    height: 64px;
    border: 1px solid silver;
    background-image: url("google_maps_icon_small.png");
    margin-top: 10px; }

.vote_secondary {
  position: relative; }
  .vote_secondary .entity_detail {
    padding-top: 20px;
    height: 180px;
    .categories-line-height: 22px; }

.divider {
  height: 1px;
  min-height: 1px;
  width: 100%;
  border-bottom: 1px solid silver;
  margin: 20px 0; }

.chatbox_container {
  width: 100%;
  position: absolute;
  top: 200px; }
  .chatbox_container .chat_window {
    height: 230px; }
  .chatbox_container .chat_window {
    overflow-y: hidden; }
    .chatbox_container .chat_window .chats {
      min-height: 100%;
      padding-bottom: 10px; }
      .chatbox_container .chat_window .chats .chat {
        min-height: 25px;
        margin: 0 2px 5px 32px;
        position: relative;
        line-height: 100%;
        font-size: 16px; }
        .chatbox_container .chat_window .chats .chat .identicon {
          position: absolute;
          top: 0;
          left: -32px;
          border: 1px solid silver; }
  .chatbox_container .input {
    position: relative;
    z-index: 1; }
  .chatbox_container.big {
    top: 0; }
    .chatbox_container.big .chat_window {
      height: 430px; }

.filter_container {
  position: relative; }
  .filter_container .input.filter {
    padding-right: 25px; }
  .filter_container .clear_filter {
    display: none;
    color: silver;
    position: absolute;
    right: 0;
    top: 0;
    line-height: 30px;
    height: 30px;
    width: 25px;
    text-align: center;
    cursor: default; }
  .filter_container:hover .clear_filter {
    display: block; }
  .filter_container.active .clear_filter {
    color: #787878;
    display: block; }

.vote_admin {
  min-height: 500px; }
  .vote_admin h2 {
    margin: 15px 0; }
  .vote_admin .section {
    border-top: 1px solid silver;
    clear: both;
    margin: 30px 0 0 0; }
    .vote_admin .section:first-child {
      border: none; }
    .vote_admin .section .field_group {
      width: 400px;
      margin-left: 380px; }
      .vote_admin .section .field_group:first-child {
        width: 320px;
        float: left;
        margin-left: 30px; }
    .vote_admin .section .field {
      position: relative; }
    .vote_admin .section .field.small {
      width: 155px;
      margin-left: 165px; }
      .vote_admin .section .field.small:first-child {
        float: left;
        margin-left: 0; }
  .vote_admin .note {
    padding: 6px;
    min-height: 30px; }
  .vote_admin .restaurant_settings .input {
    text-overflow: ellipsis; }
  .vote_admin .restaurant_settings .field {
    margin-bottom: 10px; }
  .vote_admin .restaurant_settings .entity_detail {
    margin-top: 150px; }
    .vote_admin .restaurant_settings .entity_detail .note {
      padding: 0;
      min-height: 15px; }
  .vote_admin .restaurant_settings .description {
    position: absolute;
    width: 120px;
    right: -135px;
    top: -2px;
    padding: 0; }

.button.disabled,
.button.disabled:hover,
.input[disabled] {
  background-color: white;
  border: 2px dotted silver;
  color: silver;
  cursor: default; }
  .button.disabled .icon,
  .button.disabled .action,
  .button.disabled:hover .icon,
  .button.disabled:hover .action,
  .input[disabled] .icon,
  .input[disabled] .action {
    visibility: hidden; }

.note.disabled {
  color: silver;
  cursor: default; }

/* Google Maps API v3 */
.pac-container {
  min-width: 740px; }

/* PowerTip Plugin */
#powerTip {
  cursor: default;
  background-color: #333;
  /* fallback for browsers that dont support rgba */
  background-color: rgba(0, 0, 0, 0.8);
  border-radius: 6px;
  color: #FFF;
  display: none;
  padding: 10px;
  position: absolute;
  white-space: nowrap;
  z-index: 2; }
  #powerTip.n:before, #powerTip.e:before, #powerTip.s:before, #powerTip.w:before, #powerTip.ne:before, #powerTip.nw:before, #powerTip.se:before, #powerTip.sw:before {
    content: "";
    position: absolute; }
  #powerTip.n:before, #powerTip.s:before {
    border-right: 5px solid transparent;
    border-left: 5px solid transparent;
    left: 50%;
    margin-left: -5px; }
  #powerTip.e:before, #powerTip.w:before {
    border-bottom: 5px solid transparent;
    border-top: 5px solid transparent;
    margin-top: -5px;
    top: 50%; }
  #powerTip.n:before {
    border-top: 10px solid rgba(0, 0, 0, 0.8);
    bottom: -10px; }
  #powerTip.e:before {
    border-right: 10px solid rgba(0, 0, 0, 0.8);
    left: -10px; }
  #powerTip.s:before {
    border-bottom: 10px solid rgba(0, 0, 0, 0.8);
    top: -10px; }
  #powerTip.w:before {
    border-left: 10px solid rgba(0, 0, 0, 0.8);
    right: -10px; }
  #powerTip.ne:before, #powerTip.se:before {
    border-right: 10px solid transparent;
    border-left: 0;
    left: 10px; }
  #powerTip.nw:before, #powerTip.sw:before {
    border-left: 10px solid transparent;
    border-right: 0;
    right: 10px; }
  #powerTip.ne:before, #powerTip.nw:before {
    border-top: 10px solid rgba(0, 0, 0, 0.8);
    bottom: -10px; }
  #powerTip.se:before, #powerTip.sw:before {
    border-bottom: 10px solid rgba(0, 0, 0, 0.8);
    top: -10px; }

/* Malihu Custom Scrollbar */
.mCSB_container {
  width: auto;
  margin-right: 20px;
  overflow: hidden; }

.mCustomScrollBox > .mCSB_scrollTools {
  width: 16px;
  height: 100%;
  top: 0;
  right: 0; }

.mCSB_scrollTools .mCSB_draggerContainer {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  height: auto;
  background: silver; }
  .mCSB_scrollTools .mCSB_draggerContainer a + .mCSB_draggerContainer {
    margin: 20px 0; }
.mCSB_scrollTools .mCSB_dragger {
  cursor: pointer;
  width: 16px;
  height: 30px;
  background: white;
  border: 1px solid silver; }
  .mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    text-align: center; }
